
@import "variables";
@import "media";
@import "reset";
@import "grid-system";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #989898;
  background-color: #444444;
  border: #616161 1px solid;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}

.text {
  font-size: 16px;
  color: $color-white;
  font-weight: bold;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.05em;
  font-family: "Open Sans Condensed", sans-serif;
  @include mobile-sm() {
    font-size: 14px;
  }

  span {
    color: $color-gold;
  }

  &--gold {
    color: $color-gold;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--little {
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    font-family: "Open Sans", sans-serif;
    //default letter-spacing?
    letter-spacing: normal;
    //@include mobile() {
    //  font-size: 12px;
    //}
  }

  &--big {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
  }

  &--middle {
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 25px;
  }

  &--rating {
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    font-size: 36px;
    letter-spacing: normal;
  }
}

.heading {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-white;

  &--h1 {
    font-size: 64px;
    line-height: 87px;
    white-space: nowrap;
    @include mobile-sm() {
      font-size: 48px;
      line-height: 65px;
    }
  }

  &--h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 65px;

    span {
      color: $color-gold;
    }
  }

  &--h3 {
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 33px;
  }
}

.caption {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #989898;
  line-height: 150%;
}

.but {
  width: 160px;
  height: 50px;
  background: $color-gold;
  @include mobile-sm() {
    width: 100%;
  }
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include laptop() {
    max-width: 960px;
  }
  @include tablet() {
    max-width: 720px;
  }
  @include mobile() {
    max-width: 540px;
  }
}



.pt-main {
  padding-top: 150px;
  @include laptop() {
    padding-top: 90px;
  }
}

.pt-projects {
  padding-top: 145px;
  @include laptop() {
    padding-top: 85px;
  }
}

.pt120 {
  padding-top: 120px;
}

.social-icon {
  fill-opacity: 0.6;

  &:hover {
    fill: $color-gold;
    fill-opacity: 1;
    cursor: pointer;
  }
}

.desktop-only {
  @include desktop() {
    display: none;
  }
}

//.to-laptop {
//  @include laptop() {
//    display: none;
//  }
//}

.mobile-only {
  display: none;
  @include tablet() {
    display: block;
  }
}
