@import "variables";
@import "media";
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  @include tablet() {
    grid-template-columns: repeat(6, 1fr);
  }
}

@for $key from 1 through 12 {
  .column-#{$key} {
    grid-column-end: span $key;
    @include tablet() {
      grid-column-end: span ceil($key / 2);
    }
  }
}
@for $key from 1 through 12 {
  @include min-mobile() {
    .column-mob-#{$key} {
      grid-column-end: span ceil($key / 2);
    }
  }
}
@for $key from 1 through 12 {
  @include min-tablet() {
    .column-tab-#{$key} {
      grid-column-end: span ceil($key / 2);
    }
  }
}
@for $key from 1 through 12 {
  @include min-laptop() {
    .column-lap-#{$key} {
      grid-column-end: span $key;
    }
  }
}

@for $key from 1 through 12 {
  @include min-desktop() {
    .column-#{$key} {
      grid-column-end: span $key;
    }
  }
}


@for $key from 1 through 12 {
  .column-start-#{$key} {
    @if ($key == 1) {
      grid-column-start: auto;
    } @else {
      grid-column-start: $key;
      @include tablet() {
        grid-column-start: ceil($key / 2);
      }
    }
  }
}
@for $key from 1 through 12 {
  @include min-mobile() {
    .column-start-mob-#{$key} {
      @if ($key == 1) {
        grid-column-start: auto;
      } @else {
        grid-column-start: ceil($key / 2);
      }
    }
  }
}
@for $key from 1 through 12 {
  @include min-tablet() {
    .column-start-tab-#{$key} {
      @if ($key == 1) {
        grid-column-start: auto;
      } @else {
        grid-column-start: ceil($key );
      }
    }
  }
}
@for $key from 1 through 12 {
  @include min-laptop() {
    .column-start-lap-#{$key} {
      @if ($key == 1) {
        grid-column-start: auto;
      } @else {
        grid-column-start: $key;
      }
    }
  }
}
@for $key from 1 through 12 {
  @include min-desktop() {
    .column-start-#{$key} {
      @if ($key == 1) {
        grid-column-start: auto;
      } @else {
        grid-column-start: $key;
      }
    }
  }
}
